html {
	scroll-behavior: smooth; 
}
body{
	padding: 0;
	margin: 0;
    font-family: 'Open Sans';font-size: 22px;
	font-size: 35px;
}

header{
	position: relative;
}

p{
	letter-spacing: 3px;
	font-weight: bold;
	margin:0;
}

.firstSection {
	display: flex;
	width: 100%;
	height:100vh;
	background-repeat: no-repeat;

}
.firstSection .imgContainer {
	width: 450px;
	overflow: hidden;
} 


.firstSection header {
	flex: 1;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.firstSection header div{
	text-align: right;
	font-weight: bold;
	margin: 10px;
	margin-left: 50px;
	margin-right: 200px;

}

.firstSection .ball{
	left: -95px;
	top: 600px;
}


.firstSection .healthyLife{
	margin-top: 50px;
	margin-right:100px;
}


.healthLifeText{
	float:right;
	margin:6px 20px;
	text-align: left;
}

.firstSection .healthyLife div {
	margin: 0;
}


.secondSection{
	height: 100vh;
	background-image: url(img/section2img.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;

	
}

.secondSection div{
	background-color:white;
	height:240px;
	margin-bottom: 50px;
	position:relative;
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding:0px 150px;
}

.secondSection .space{
	margin-top:50px;
	font-weight:normal;
	max-width: 900px;
}

.secondSection .ball {
	right: 400px;
	top: -120px;
}


.thirdSection{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content:center;
}

.thirdSection .header{
	height: 200px;
	display: flex;
    align-items: center;
    justify-content: space-around;
}

.thirdSection .img-background{
	background-image: url(img/section3img.png);
	flex: 1;
	background-repeat: no-repeat;
	background-position: center top;
}

.thirdSection .footer{
	height: 200px;
	display:flex;
	justify-content:space-around;
	align-items: center;
}

.thirdSection .open {
	align-self:center;
	font-weight: bold;
	position: relative;
}

.thirdSection .open .ball {
	position: absolute;
	top: -172px;
}

.fourthSection{
	height:100vh;
	background-image: url(img/section4img.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	font-weight: bold;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.fourthSection div{
	text-align:center;
}

.fourthSection .text {
	font-size: 70px;
	line-height:100%;
}

.fourthSection .healthyLife{
	position: absolute;
	top:75px;
	left: 75px;
}



button{
	color: white;
	background-color: #7081ff;
	font-size: 45px;
	padding: 10px 30px;
	margin: 30px 0;
	border-radius: 50px;
	border-style: none;
	cursor: pointer;
}


	



.blue{
	color: #7081ff;
}

.ball {
	position:absolute;
	width:0;
}


.text-center{
	text-align:center;
}

.margin-top20{
	margin-top:20px;
}


 p.textBold{
		font-size: 130px;
		font-weight: 900;
		line-height: 90%;
}

.fontSize45{
	font-size: 45px ;
}

.fontSize70{
	font-size:70px;
}

.healthyLife {
	display:inline-block;
	font-size: 22px;
	font-weight: bold;
}

.fifthSection {
	height:  100%;
	width:100%;
	background-color: white;
	position: fixed;
	top:0;
	font-weight: bold;
	background-image: url(img/contactimg.png);
	background-size: cover;
	background-repeat: no-repeat;
	display:none;
	}

 input:focus {
    
    resize: none;
    outline: none;
}

.close{
	position: absolute;
    left: 120%;
    top: -110px;
	font-size: 70px;
	cursor: pointer;
}

.contactHeader{
	text-align:center;
	padding:40px;
}

.contact .label{
	float: left;
}

.contact {
	display: flex;
	justify-content: center;
}

.contact .row-form{
	padding-bottom: 10px;
}

.contact .label {
	margin-top: 6px;
}

.contact .row-form{
	width: 100%;
}
.contact .form-container{
	position: relative;
}

.contact .label{
	width: 40%;
	float: left;
}

.contact .areaLabel{
	padding:20px 0;
}
.contact .input{
	display:inline-block;
	width:60%
}

.contact .input input, select{
	width: 100%;
	box-sizing:border-box;
	padding: 10px;
}

.contact textarea{
	width: 100%;
	height: 150px;
	resize: none;
}

.contact input[type=submit]{
	color: white;
	background-color: #7081ff;
	font-size: 45px;
	padding: 10px 30px;
	margin: 30px 0;
	border-radius: 50px;
	border-style: none;
	cursor: pointer;
	
}
.textCenter {
	text-align: center;
}

nav {
	position: fixed;
	right: 10px;
	top:35%;
	z-index: 100;
	
}



nav div {
	height: 60px;
	width: 60px;
	position:relative;
}

nav div a{
	height: 36px;
	width:36px;
	background-color: #7081ff;
	margin-top: 10px;
	margin-top: 10px;
	border-radius: 50%;
	position: absolute;
	
}

nav div a:hover{
	cursor: pointer;
	animation-name: nav;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	
}

@keyframes nav{
   0%{ width: 36px;left:0px; top:0px; height:36px; }
   100% { width: 50px; left: -7px; top: -7px; height: 50px;}
}

.displayNone{
	display: none;
}

.displayVisible{
	display: block;
}

@media screen and (max-height: 800px)
{

	.firstSection, .secondSection, .thirdSection, .fourthSection  {
		height: 900px;
	}
	
	
}

@media screen and (max-width: 1280px){
	body {
		font-size: 20px;
	}
	p.textBold{
		font-size: 90px;
	}
	.fontSize70{
		font-size: 40px;
	}
	button{
		font-size: 30px;
		margin: 20px 0;
	}
	.ball img {
		width: 100px;
		height: 100px;
	}
	.firstSection .ball{
		left: -50px;
	}
	.secondSection .ball{
		top: -78px;
	}
	
	.thirdSection .open .ball{
		top: -138px;
	}
	.fourthSection .text{
		font-size: 50px;
	}
}

@media screen and (max-width: 960px){
	
		.firstSection, .secondSection, .thirdSection, .fourthSection  {
		height: 900px;
	}
	
	.imgContainer{
		display: none;
	}
	.firstSection header div {
		text-align: center;
		margin-right: 0;
		margin-left: 0;
	}
	 .firstSection .healthyLife {
		margin-right:0;
	}
	.firstSection .ball {
		display: none;
	}
	.firstSection .healthyLife div {
		display: inline-block;
	}
	.secondSection .ball {
		right: 200px;
	}
	.secondSection div{
		padding:0px 50px;
	}
	nav{
		display: none;
	}
	.contact label {
		padding-bottom: 5px;
	}

}

@media screen and (max-width: 600px){
	nav{
		display: none;
	}
	p{
		
	}	body {
		font-size: 15px;
	}
	p.textBold{
		font-size: 70px;
	}
	.firstSection{
		height: 600px;
		padding-top:100px;
	}
	.thirdSection .footer {
		padding: 0px 20px;
	}
	.fontSize70{
		font-size: 30px;
	}
	.open{
		padding-left: 10px;
	}
	.thirdSection .open .ball{
		top: -138px;
		right: 87px;
	}
	.healthyLife{
		font-size: 15px;
	}
	.healthyLife span{
		margin: 6px 10px;
	}
	.healthyLife img {
		width:50px;
		height:50px;
		
	}
	.fourthSection .text{
		font-size: 40px;
		padding: 20px;
	}
	.fourthSection .healthyLife{
		top: 30px;
		left: 30px;
	}
	.contactHeader{
		text-align: left;
	}
	.close {
		left: 100%;
		top: -118px;
	}


}